* {
	margin: 0;
}
html, body
{
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
}

nav {
	height: 50px;
	background-color: rgba (0,0,0,.5);

}

.sec {
	height: 100%;
	background-size: cover;
}

.subSec {
	height: 50%;
	background-color: bisque;

}
.secOne {
	background-image: src= "images/pizza.jpg";
}
.secTwo {
	background: img("images/mangoshake.jpg");
}
.secThree {
	background-image: url("cheesecake.jpg");
}